{{email-input email=credentials.email}}
{{password-input password=credentials.password}}

<button type="submit" class="btn " {{action "submit"}}>
  Sign In
</button>

<button class="btn " {{action "reset"}}>
  Cancel
</button>
