<h3>Search for games</h3>

{{search-input keyword=keyword}}

{{#link-to "search.results" (query-params search=keyword)}}
<button type="submit" class="btn btn-primary">
  Search
</button>{{/link-to}}

<h4>Search Results</h4>
{{outlet}}
