@import 'https://fonts.googleapis.com/css?family=Fugaz+One|Harmattan';

$body-font: 'Harmattan', sans-serif;
$header-font: 'Fugaz One', serif;

body {
  font-family: $body-font;
  font-size: 20px;
}

nav {
  font-size: 1.2em;
}

.navbar-brand {
  font-family: $header-font;
  font-size: .9em;
}
