@import 'https://fonts.googleapis.com/css?family=Fugaz+One|Lato|Oswald';

$body-font: 'Lato', sans-serif;
$header-font: 'Oswald', sans-serif;
$logo-font: 'Fugaz One', serif;

body {
  font-family: $body-font;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
.btn {
  font-family: $header-font;
}

.jumbotron h1 {
  font-family: $logo-font
}


nav {
  font-size: 1.2em;
  color: $graphite;
  font-family: $header-font;
}

.navbar-brand {
  font-family: $logo-font;
  font-size: 40px;
}
