<div class="jumbotron">
  <div class="jumbo-content">
    <h1>Welcome to Backlog!</h1>
    <p>A nifty site to track just how close you are to getting through all those
      games on your self.</p> 
  </div>
</div>
