<li>
  {{#link-to 'game' game}}
    <div class="thumbnail">
      {{#if game.cover}}
        {{game-image game.cover game.name}}
      {{else}}
        <h4>{{game.name}}</h4>
      {{/if}}
    </div>
  {{/link-to}}
</li>
