<li>
    <div class="thumbnail">
      {{#link-to 'game' game}}
        {{#if game.cover}}
          {{game-image game.cover game.name}}
        {{else}}
          <img src="assets/game.png">
          <h4>{{game.name}}</h4>
        {{/if}}
        {{/link-to}}
      {{#if isAuthenticated}}
        <button class="btn btn-xs" {{action "add"}}>Add game</button>
      {{/if}}
    </div>
</li>
