<div class="row">
  <div class="col-xs-6">
      <h3>Completed</h3>
      {{#each library as |library|}}
        {{#if library.done}}
          {{library-thumbnail click="click" del="del" library=library}}
        {{/if}}
      {{/each}}
  </div>

  <div class="col-xs-6">
    <h3>Backlog</h3>
    {{#each library as |library|}}
      {{#if (eq library.done false)}}
        {{library-thumbnail click="click" del="del" library=library}}
      {{/if}}
    {{/each}}
  </div>
</div>
