<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addGame" aria-expanded="false" aria-controls="addGame">
  Add game
</button>
<div class="collapse" id="addGame">
  <div class="well">
    <form>
      {{game-name-input}}
      {{game-storyline-input}}
      {{game-summary-input}}
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
